body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
}

#light, #dark {
  opacity: 1;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

#notification {
  padding: 1em;
}

#notification a {
  font-weight: bold;
}

#panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 0 1em;
  flex-shrink: 0;
  overflow: auto;
}

#panel img {
  height: .8em;
}

#textarea {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
}

#textarea::placeholder {
  color: #e0e0e0;
}

.note-name {
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  user-select: none;
}

.note-name:hover {
  text-decoration: underline;
}

#notes {
  height: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}

#notes .note-name {
  margin-bottom: .5em;
}

#button:hover {
  cursor: pointer;
}

#actions {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.action {
  font-weight: bold;
  cursor: pointer;
  margin-left: 1em;
}

.action:hover {
  text-decoration: underline;
}

.to-be-deleted, .to-be-deleted::placeholder {
  text-decoration: line-through;
}


/* Light mode */

#light, #light #textarea {
  background: white;
  color: black;
}

#light #notification {
  border-bottom: 1px solid silver;
}

#light a {
  color: black;
}

#light .to-be-renamed {
  background: black;
  color: white;
}


/* Dark mode */

#dark, #dark #textarea {
  background: #121212;
  color: white;
}

#dark a {
  color: white;
}

#dark .to-be-renamed {
  background: white;
  color: black;
}
