body {
  margin: 0;
  padding: 0;
  opacity: 0;
}

#container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#light, #dark {
  opacity: 1;
}

#textarea, #tabs {
  font-family: inherit;
  font-size: inherit;
}

#textarea, #manage {
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
}

#textarea {
  border: 0;
  outline: none;
  resize: none;
}

#panel {
  display: flex;
}

#tabs {
  display: flex;
  overflow-x: hidden;
}

#tabs:hover {
  overflow-x: auto;
}

.tab {
  display: flex;
  white-space: nowrap;
  user-select: none;
  outline: none;
  background: white;
  color: silver;
  border: 1px solid silver;
  padding: 15px;
  margin: 0 0 -1px -1px;
  font-size: 70%;
  cursor: pointer;
}

.tab:first-child {
  margin-left: -2px;
}

.tab:last-child {
  margin-right: -1px;
}

.tab.active {
  font-weight: bold;
  color: black;
  z-index: 100;
}

.tab.sortable-ghost {
  opacity: .2;
}

.tab.action {
  align-self: stretch;
  padding: 0;
  cursor: default;
  z-index: 100;
}

.tab.action img {
  align-self: center;
  margin: 10px 0;
  padding: 0 12px;
  height: 1.1em;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

#add {
  border-right: none;
}

#menu {
  flex-grow: 1;
  justify-content: flex-end;
  border-left: none;
  margin-left: 0;
}

#menu .open {
  animation: spin 4s linear infinite;
}

.hide {
  display: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* Light mode */

#light,
#light #textarea {
  background: white;
  color: black;
}

#light #textarea::placeholder {
  color: #e5e5e5;
}


/* Dark mode */

#dark,
#dark #textarea {
  background: #36393f;
  color: white;
}

#dark #textarea::placeholder {
  color: #e0e0e0;
}

