body {
  margin: 0;
  padding: 0;
  opacity: 0;
}

#container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#light, #dark {
  opacity: 1;
}

#textarea, #tabs {
  font-family: inherit;
  font-size: inherit;
}

#textarea {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  resize: none;
}

#tabs {
  display: flex;
  border-top: 1px solid #9E9E9E;
}

.tab {
  user-select: none;
  padding: 20px;
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.tab:hover, .tab.active {
  text-decoration: underline;
}

.space-tab {
  flex-grow: 1;
}

.hide {
  display: none;
}


/* Light mode */

#light,
#light #textarea {
  background: white;
  color: black;
}

#light #textarea::placeholder {
  color: #e5e5e5;
}

#light #textarea::selection {
  background: silver;
}


/* Dark mode */

#dark,
#dark #textarea {
  background: #36393f;
  color: white;
}

#dark #textarea::placeholder {
  color: #e0e0e0;
}
