body {
  margin: 0;
  padding: 0;
  opacity: 0;
}

#container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#light, #dark {
  opacity: 1;
}

#textarea, #tabs {
  font-family: inherit;
  font-size: inherit;
}

#textarea, #manage {
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
}

#textarea {
  border: 0;
  outline: none;
  resize: none;
}

#textarea::selection {
  background: silver;
}

#panel {
  display: flex;
}

#tabs {
  display: flex;
  overflow-x: hidden;
  padding-left: 6px;
}

#tabs:hover {
  overflow-x: auto;
}

.tab {
  display: flex;
  white-space: nowrap;
  user-select: none;
  outline: none;
  font-size: 70%;
  font-weight: bold;
}

#tabs .tab {
  background: white;
  color: royalblue;
  border: 1px solid royalblue;
  margin: 10px 5px;
  padding: .5em 1em;
  border-radius: 55px;
  cursor: pointer;
}

#tabs .tab.active {
  background: royalblue;
  z-index: 100;
  color: white;
}

.tab::selection {
  background: white;
}

#tabs .tab.sortable-ghost {
  opacity: 0;
}

.tab.action {
  align-self: stretch;
  z-index: 100;
}

.tab.action img {
  align-self: center;
  padding: 10px 11px;
  height: 1.25em;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

#gear {
  padding-right: 14px;
}

#menu {
  flex-grow: 1;
  justify-content: flex-end;
}

.hide {
  display: none;
}

#manage {
  overflow-y: auto;
}

.row {
  padding: 10px 10px 5px 10px;
}

.row-title {
  font-weight: bold;
}

.row-actions span {
  margin-left: 20px;
}

#manage-notes .row {
  display: flex;
}

#manage-notes .row-title {
  flex-grow: 1;
}

#export {
  display: flex;
}

#export .row {
  text-align: right;
}

.good-action, .bad-action {
  cursor: pointer;
  user-select: none;
}

.good-action {
  color: royalblue;
  font-weight: bold;
}

.bad-action {
  color: #e3e3e3;
}

.confirmation {
  color: palevioletred;
}

.confirmation span {
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid royalblue;
}


/* Light mode */

#light,
#light #textarea {
  background: white;
  color: black;
}

#light #textarea::placeholder {
  color: #e5e5e5;
}


/* Dark mode */

#dark,
#dark #textarea {
  background: #36393f;
  color: white;
}

#dark #textarea::placeholder {
  color: #e0e0e0;
}
